.pa-btn {
  padding: 3px 6px;
  outline: none;
  &.hover,
  &:hover,
  &.focus,
  &:focus {
    opacity: 0.7;
  }

  &.active,
  &:active {
    opacity: 0.3;
  }
  text-decoration: blink;
  cursor: pointer;
  text-align: center;
}
.pa-btn-transparent-white {
  color: white;
  background: transparent;
  border: 1px solid white;
}
.pa-btn-transparent-black {
  color: black;
  background: transparent;
  border: 1px solid black;
}
.pa-btn-block {
  display: block;
  width: 100%;
}
.pa-btn-block + .pa-btn-block {
  margin-top: 5px;
}
.pa-btn-lg {
  font-size: large;
  border-width: 2px;
}

.pa-btn-black {
  background: @black-primary;
  color: white;
  border-color: @black-primary;
}

.pa-btn-grey {
  background: @grey-primary;
  color: white;
  border-color: @grey-primary;
}

.pa-btn-noneborder {
  border: none;
  box-shadow: none;
}