.pa-navbar-wrapper {
  padding: 10px;
  background: @black-primary;
  color: @white-primary;
  height: 45px;
}
.pa-navbar {
  max-width: 900px;
  margin: auto;

  .pa-navbar-logo {
    padding: 10px 20px 10px 0px;
    display: inline-block;
    line-height: 25px;
    cursor: pointer;
  }

  .pa-user-control {
    padding: 10px 0px 10px 20px;
    line-height: 25px;
    float: right;
  }
  .pa-user-control-username {
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
  }

  .pa-navbar-searchbar {
    display: inline-block;
    width: 600px;
    height: 26px;
    .pa-navbar-searchbar-input {
      width: 85%;
      height: 100%;
      border: none;
      box-shadow: none;
      &:focus {
        width: 85%;
      }
    }
    .pa-navbar-searchbar-btnwrapper {
      display: inline-block;
      width: 15%;
      height: 100%;
      margin-top: -2.2px;
      vertical-align: middle;
      > button {
        width: 100%;
        height: 100%;
      }
    }
  }
}